@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
body {
    background-color: #e2e2e2;
}
div {
    background-color: #efefef;
}
h1 {
    font-family:'Open Sans', sans-serif;
    display: inline;
    color: #a8a8a8;
    padding-right: 20px;
}
a {
    display: inline;
    font-family:'Raleway', sans-serif;
    text-decoration: none;
    color: #aaaaaa;
}
